<cfg xmlns="http://alternativaplatform.com/core/config.xsd">
<server address="c1.us.tankionline.com" mode="simple">
<ports>
<port>5190</port>
<port>5222</port>
<port>5223</port>
<port>4444</port>
<port>5050</port>
</ports>
<webSocketPorts>
<port>9090</port>
</webSocketPorts>
</server>
<status>normal</status>
</cfg>